body {
  font-family: arial;
  background-color: #0B0C10;
  color: #C5C6C7
}

.jumbotron {
  padding: 20px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #45A29E;
  color: #66FCF1;
  margin-top: 15px;
}

.sidebar-l {
  background-color: #1F2833
}

.sidebar-r {
  background-color: #1F2833
}

.main {
  margin-right: auto;
  margin-left: auto;
}

.projects {
  margin-bottom: 30px;
  border-bottom: 2px solid #C5C6C7
}

.project {
  margin-left: 50px;
}

.projects ul {
  list-style-type: none;
}

.projects img {
  margin-right: 5px;
  float: left;
  margin-top: 5px;
}

.concept {
  color: #bd7676;
}

.card {
  background-color: #1F2833;
  width: 300px;
  float: left;
  padding-top: 10px;
}

blockquote {
  float:right;
  vertical-align: middle;
  color: #C5C6C7;
}

.blockquote-footer {
  color: #C5C6C7;
}

blockquote p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}

.card-img {
  margin: 5px;
  width: auto;
}

.lotr {
  margin-top: 3em;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.quote {
  margin-top: 60px;
}

.games li {
  list-style-type: none;
}

li a {
  font-size: 18px;
}

a:link {
  color: #66FCF1;
}

a:visited {
  color: #45A29E;
}